In [2]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns

In [2]:
raw_data = pd.read_json("result.json")
raw_data = raw_data.transpose()
# remove price null
raw_data['price'] = pd.to_numeric(raw_data['price'])
raw_data['flooring'] = pd.to_numeric(raw_data['flooring'])
raw_data['score'] = pd.to_numeric(raw_data['score'])
raw_data['lot'] = pd.to_numeric(raw_data['lot'])
cleaned_data = raw_data[pd.notnull(raw_data['price'])]
# TODO: missing value stat
total = cleaned_data.isnull().sum().sort_values(ascending=False)
percent = (cleaned_data.isnull().sum()/cleaned_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Total</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>score</th>
      <td>8696</td>
      <td>0.216066</td>
    </tr>
    <tr>
      <th>lot</th>
      <td>2118</td>
      <td>0.052625</td>
    </tr>
    <tr>
      <th>bedrooms</th>
      <td>1201</td>
      <td>0.029841</td>
    </tr>
    <tr>
      <th>flooring</th>
      <td>1062</td>
      <td>0.026387</td>
    </tr>
    <tr>
      <th>year_built</th>
      <td>712</td>
      <td>0.017691</td>
    </tr>
    <tr>
      <th>type</th>
      <td>355</td>
      <td>0.008821</td>
    </tr>
    <tr>
      <th>neighborhood</th>
      <td>17</td>
      <td>0.000422</td>
    </tr>
    <tr>
      <th>price</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>postcode</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
cleaned_data = cleaned_data.loc[cleaned_data.dropna().index]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>flooring</th>
      <th>lot</th>
      <th>price</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>3.002200e+04</td>
      <td>3.002200e+04</td>
      <td>3.002200e+04</td>
      <td>30022.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.265792e+03</td>
      <td>2.676613e+04</td>
      <td>9.879189e+05</td>
      <td>67.690727</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.748378e+04</td>
      <td>1.739067e+06</td>
      <td>1.795898e+06</td>
      <td>19.553913</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.175250e+03</td>
      <td>5.100000e+03</td>
      <td>3.850000e+05</td>
      <td>60.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.574000e+03</td>
      <td>6.098000e+03</td>
      <td>6.453000e+05</td>
      <td>71.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.258750e+03</td>
      <td>7.492000e+03</td>
      <td>1.075000e+06</td>
      <td>81.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>9.951990e+06</td>
      <td>2.940736e+08</td>
      <td>9.837000e+07</td>
      <td>99.000000</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>bedrooms</th>
      <th>flooring</th>
      <th>lot</th>
      <th>neighborhood</th>
      <th>postcode</th>
      <th>price</th>
      <th>score</th>
      <th>type</th>
      <th>year_built</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1-oak-knoll-ter-pasadena-ca-91106</th>
      <td>3</td>
      <td>3450.0</td>
      <td>38768.4</td>
      <td>South</td>
      <td>91106</td>
      <td>4214000.0</td>
      <td>58.0</td>
      <td>Single Family</td>
      <td>1938</td>
    </tr>
    <tr>
      <th>1-w-century-dr-unit-14a-los-angeles-ca-90067</th>
      <td>2</td>
      <td>3510.0</td>
      <td>161607.6</td>
      <td>Century City</td>
      <td>90067</td>
      <td>5200000.0</td>
      <td>89.0</td>
      <td>Condo</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>100-n-carolwood-dr-los-angeles-ca-90077</th>
      <td>7</td>
      <td>17171.0</td>
      <td>54885.6</td>
      <td>Beverly Glen</td>
      <td>90077</td>
      <td>10000000.0</td>
      <td>16.0</td>
      <td>Single Family</td>
      <td>2002</td>
    </tr>
    <tr>
      <th>100-n-crescent-heights-blvd-west-hollywood-ca-90048</th>
      <td>5</td>
      <td>3075.0</td>
      <td>6534.0</td>
      <td>Mid City West</td>
      <td>90048</td>
      <td>1700000.0</td>
      <td>91.0</td>
      <td>Single Family</td>
      <td>1927</td>
    </tr>
    <tr>
      <th>100-n-detroit-st-los-angeles-ca-90036</th>
      <td>3</td>
      <td>2500.0</td>
      <td>6379.0</td>
      <td>Mid City West</td>
      <td>90036</td>
      <td>4100.0</td>
      <td>91.0</td>
      <td>Condo</td>
      <td>1929</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
cleaned_data.to_csv("cleaned_30022.csv", header=True, index=True, index_label="url")

In [3]:
dataset = pd.read_csv("cleaned_30022.csv")
dataset["postcode"]=dataset["postcode"].astype("object")
dataset = dataset.drop(["url", "neighborhood"],axis=1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>url</th>
      <th>bedrooms</th>
      <th>flooring</th>
      <th>lot</th>
      <th>neighborhood</th>
      <th>postcode</th>
      <th>price</th>
      <th>score</th>
      <th>type</th>
      <th>year_built</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1-oak-knoll-ter-pasadena-ca-91106</td>
      <td>3</td>
      <td>3450.0</td>
      <td>38768.4</td>
      <td>South</td>
      <td>91106</td>
      <td>4214000.0</td>
      <td>58.0</td>
      <td>Single Family</td>
      <td>1938</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1-w-century-dr-unit-14a-los-angeles-ca-90067</td>
      <td>2</td>
      <td>3510.0</td>
      <td>161607.6</td>
      <td>Century City</td>
      <td>90067</td>
      <td>5200000.0</td>
      <td>89.0</td>
      <td>Condo</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>2</th>
      <td>100-n-carolwood-dr-los-angeles-ca-90077</td>
      <td>7</td>
      <td>17171.0</td>
      <td>54885.6</td>
      <td>Beverly Glen</td>
      <td>90077</td>
      <td>10000000.0</td>
      <td>16.0</td>
      <td>Single Family</td>
      <td>2002</td>
    </tr>
    <tr>
      <th>3</th>
      <td>100-n-crescent-heights-blvd-west-hollywood-ca-...</td>
      <td>5</td>
      <td>3075.0</td>
      <td>6534.0</td>
      <td>Mid City West</td>
      <td>90048</td>
      <td>1700000.0</td>
      <td>91.0</td>
      <td>Single Family</td>
      <td>1927</td>
    </tr>
    <tr>
      <th>4</th>
      <td>100-n-detroit-st-los-angeles-ca-90036</td>
      <td>3</td>
      <td>2500.0</td>
      <td>6379.0</td>
      <td>Mid City West</td>
      <td>90036</td>
      <td>4100.0</td>
      <td>91.0</td>
      <td>Condo</td>
      <td>1929</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
# bar plot
bedrooms = dataset.groupby("bedrooms").size()
bedrooms = bedrooms.sort_values(ascending=False)
bedrooms.plot.bar()

In [6]:
# boxplot
data = pd.concat([dataset['price'], dataset['postcode']], axis=1)
fig = sns.boxplot(x='postcode', y='price',data=data)
fig.axis(ymin=0,ymax=10000000)
fig.set_xticklabels(fig.get_xticklabels(), rotation=90)

[<matplotlib.text.Text at 0x10f3b6e10>,
 <matplotlib.text.Text at 0x10f3c1910>,
 <matplotlib.text.Text at 0x11a124710>,
 <matplotlib.text.Text at 0x11a124e50>,
 <matplotlib.text.Text at 0x11a1375d0>,
 <matplotlib.text.Text at 0x119cc1fd0>,
 <matplotlib.text.Text at 0x11a142210>,
 <matplotlib.text.Text at 0x11a142950>,
 <matplotlib.text.Text at 0x11a14d0d0>,
 <matplotlib.text.Text at 0x11a164710>,
 <matplotlib.text.Text at 0x11a164c90>,
 <matplotlib.text.Text at 0x11a16b410>,
 <matplotlib.text.Text at 0x11a16bb50>,
 <matplotlib.text.Text at 0x11a158c90>,
 <matplotlib.text.Text at 0x11a176510>,
 <matplotlib.text.Text at 0x11a176c50>,
 <matplotlib.text.Text at 0x11a1803d0>,
 <matplotlib.text.Text at 0x11a180b10>,
 <matplotlib.text.Text at 0x11a18c290>,
 <matplotlib.text.Text at 0x11a18c9d0>,
 <matplotlib.text.Text at 0x11a195150>,
 <matplotlib.text.Text at 0x11a195890>,
 <matplotlib.text.Text at 0x11a195fd0>,
 <matplotlib.text.Text at 0x11a1a1750>,
 <matplotlib.text.Text at 0x11a1a1e90>,
 <matplotlib.text.Text at 0x11a1ac610>,
 <matplotlib.text.Text at 0x11a1acd50>,
 <matplotlib.text.Text at 0x11a1b64d0>,
 <matplotlib.text.Text at 0x11a1b6c10>,
 <matplotlib.text.Text at 0x11a1c2390>,
 <matplotlib.text.Text at 0x11b997990>,
 <matplotlib.text.Text at 0x11b9a1110>,
 <matplotlib.text.Text at 0x11b9a1850>,
 <matplotlib.text.Text at 0x11b9a1f90>,
 <matplotlib.text.Text at 0x11b9ae710>,
 <matplotlib.text.Text at 0x11b9aee50>,
 <matplotlib.text.Text at 0x11b9b75d0>,
 <matplotlib.text.Text at 0x11b9b7d10>,
 <matplotlib.text.Text at 0x11b9c1490>,
 <matplotlib.text.Text at 0x11b9c1bd0>,
 <matplotlib.text.Text at 0x11b9ce350>,
 <matplotlib.text.Text at 0x11b9cea90>,
 <matplotlib.text.Text at 0x11b9d8210>,
 <matplotlib.text.Text at 0x11b9d8950>,
 <matplotlib.text.Text at 0x11b9e30d0>,
 <matplotlib.text.Text at 0x11b9e3810>,
 <matplotlib.text.Text at 0x11b9e3f50>,
 <matplotlib.text.Text at 0x11b9ef6d0>,
 <matplotlib.text.Text at 0x11b9efe10>,
 <matplotlib.text.Text at 0x11b9fa590>,
 <matplotlib.text.Text at 0x11b9facd0>,
 <matplotlib.text.Text at 0x11ba04450>,
 <matplotlib.text.Text at 0x11ba04b90>,
 <matplotlib.text.Text at 0x11ba0f310>,
 <matplotlib.text.Text at 0x11ba0fa50>,
 <matplotlib.text.Text at 0x11ba1b1d0>,
 <matplotlib.text.Text at 0x11ba1b910>,
 <matplotlib.text.Text at 0x11ba26090>,
 <matplotlib.text.Text at 0x11ba267d0>,
 <matplotlib.text.Text at 0x11ba26f10>,
 <matplotlib.text.Text at 0x11ba31690>,
 <matplotlib.text.Text at 0x11ba31dd0>,
 <matplotlib.text.Text at 0x11ba3c550>,
 <matplotlib.text.Text at 0x11ba3cc90>,
 <matplotlib.text.Text at 0x11ba47410>,
 <matplotlib.text.Text at 0x11ba47b50>,
 <matplotlib.text.Text at 0x11ba522d0>,
 <matplotlib.text.Text at 0x11ba52a10>,
 <matplotlib.text.Text at 0x11ba5c190>,
 <matplotlib.text.Text at 0x11ba5c8d0>,
 <matplotlib.text.Text at 0x11ba68050>,
 <matplotlib.text.Text at 0x11ba68790>,
 <matplotlib.text.Text at 0x11ba68ed0>,
 <matplotlib.text.Text at 0x11ba73650>,
 <matplotlib.text.Text at 0x11ba73d90>,
 <matplotlib.text.Text at 0x11ba7d510>,
 <matplotlib.text.Text at 0x11ba7dc50>,
 <matplotlib.text.Text at 0x11ba8a3d0>,
 <matplotlib.text.Text at 0x11ba8ab10>,
 <matplotlib.text.Text at 0x11ba94290>,
 <matplotlib.text.Text at 0x11ba949d0>,
 <matplotlib.text.Text at 0x11baa0150>,
 <matplotlib.text.Text at 0x11baa0890>,
 <matplotlib.text.Text at 0x11baa0fd0>,
 <matplotlib.text.Text at 0x11baab750>,
 <matplotlib.text.Text at 0x11baabe90>,
 <matplotlib.text.Text at 0x11bab6610>,
 <matplotlib.text.Text at 0x11bab6d50>,
 <matplotlib.text.Text at 0x11bac04d0>,
 <matplotlib.text.Text at 0x11bac0c10>,
 <matplotlib.text.Text at 0x11bacb390>,
 <matplotlib.text.Text at 0x11bacbad0>,
 <matplotlib.text.Text at 0x11bad7250>,
 <matplotlib.text.Text at 0x11bad7990>,
 <matplotlib.text.Text at 0x11bae1110>,
 <matplotlib.text.Text at 0x11bae1850>,
 <matplotlib.text.Text at 0x11bae1f90>,
 <matplotlib.text.Text at 0x11baed710>,
 <matplotlib.text.Text at 0x11baede50>,
 <matplotlib.text.Text at 0x11baf85d0>,
 <matplotlib.text.Text at 0x11baf8d10>,
 <matplotlib.text.Text at 0x11bb03490>,
 <matplotlib.text.Text at 0x11bb03bd0>,
 <matplotlib.text.Text at 0x11bb0d350>,
 <matplotlib.text.Text at 0x11bb0da90>,
 <matplotlib.text.Text at 0x11bb19210>,
 <matplotlib.text.Text at 0x11bb19950>,
 <matplotlib.text.Text at 0x11bb240d0>,
 <matplotlib.text.Text at 0x11bb24810>,
 <matplotlib.text.Text at 0x11bb24f50>,
 <matplotlib.text.Text at 0x11bb2f6d0>,
 <matplotlib.text.Text at 0x11bb2fe10>,
 <matplotlib.text.Text at 0x11bb3a590>,
 <matplotlib.text.Text at 0x11bb3acd0>,
 <matplotlib.text.Text at 0x11bb46450>,
 <matplotlib.text.Text at 0x11bb46b90>,
 <matplotlib.text.Text at 0x11bb4f310>,
 <matplotlib.text.Text at 0x11bb4fa50>,
 <matplotlib.text.Text at 0x11bb5a1d0>,
 <matplotlib.text.Text at 0x11bb5a910>,
 <matplotlib.text.Text at 0x11bb68090>,
 <matplotlib.text.Text at 0x11bb687d0>,
 <matplotlib.text.Text at 0x11bb68f10>,
 <matplotlib.text.Text at 0x11bb72690>,
 <matplotlib.text.Text at 0x11bb72dd0>,
 <matplotlib.text.Text at 0x11bb7e550>,
 <matplotlib.text.Text at 0x11bb7ec90>,
 <matplotlib.text.Text at 0x11bb89410>,
 <matplotlib.text.Text at 0x11bb89b50>,
 <matplotlib.text.Text at 0x11bb922d0>,
 <matplotlib.text.Text at 0x11bb92a10>,
 <matplotlib.text.Text at 0x11bb9d190>,
 <matplotlib.text.Text at 0x11bb9d8d0>,
 <matplotlib.text.Text at 0x11bbab050>,
 <matplotlib.text.Text at 0x11bbab790>,
 <matplotlib.text.Text at 0x11bbabed0>,
 <matplotlib.text.Text at 0x11bbb4650>,
 <matplotlib.text.Text at 0x11bbb4d90>,
 <matplotlib.text.Text at 0x11bbbf510>,
 <matplotlib.text.Text at 0x11bbbfc50>,
 <matplotlib.text.Text at 0x11bbcb3d0>,
 <matplotlib.text.Text at 0x11bbcbb10>,
 <matplotlib.text.Text at 0x11bbd6290>,
 <matplotlib.text.Text at 0x11bbd69d0>,
 <matplotlib.text.Text at 0x11bbe1150>,
 <matplotlib.text.Text at 0x11bbe1890>,
 <matplotlib.text.Text at 0x11bbe1fd0>,
 <matplotlib.text.Text at 0x11bbed750>,
 <matplotlib.text.Text at 0x11bbede90>]

In [ ]:
# data shuffling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, LassoCV, LassoLarsCV, LinearRegression
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
from scipy.stats import skew
def rmse_cv(model):
    rmse= np.sqrt(-cross_val_score(model, X_train, y_train, scoring="neg_mean_squared_error", cv = 5))
    return(rmse)

# all_data[skewed_feats] = np.log1p(all_data[skewed_feats])

X_train, X_test, y_train, y_test = \
    train_test_split(dataset[dataset.columns.drop('price')], dataset['price'],test_size=0.2, random_state=0)
y_train = np.log1p(y_train)
y_test = np.log1p(y_test)

# skew -> log
numeric_feats = X_train.dtypes[X_train.dtypes != "object"].index
skewed_feats = X_train[numeric_feats].apply(lambda x: skew(x.dropna()))
# skewed_feats = skewed_feats[skewed_feats > 0.75]
skewed_feats = skewed_feats.index
X_train[skewed_feats] = np.log1p(X_train[skewed_feats])
X_train = pd.get_dummies(X_train)
# ridge
alphas = [0.05, 0.1, 0.3, 1, 3, 5, 10, 15, 30, 50, 75]
cv_ridge = [rmse_cv(Ridge(alpha = alpha)).mean() 
            for alpha in alphas]
cv_ridge = pd.Series(cv_ridge, index = alphas)
cv_ridge.plot()
cv_ridge.min()
# Out[183]: 0.80891598266445752
# 0.38050169015918045
# lasso
model_lasso = LassoCV(alphas = [1,0.1,0.001,0.0005]).fit(X_train, y_train)
rmse_cv(model_lasso).mean()
# Out[124]: 0.80980558601400643
coef = pd.Series(model_lasso.coef_, index = X_train.columns)
print("Lasso picked " + str(sum(coef != 0)) + " variables and eliminated the other " +  str(sum(coef == 0)) + " variables")
# Lasso picked 105 variables and eliminated the other 219 variables
imp_coef = pd.concat([coef.sort_values().head(10),
                     coef.sort_values().tail(10)])
matplotlib.rcParams['figure.figsize'] = (8.0, 10.0)
imp_coef.plot(kind = "barh")
plt.title("Coefficients in the Lasso Model")

In [ ]:
# deleting
bedrooms = cleaned_data.groupby("bedrooms").size()
bedrooms = bedrooms[bedrooms > 5].index
cleaned_data = cleaned_data[cleaned_data["bedrooms"].isin(bedrooms)]
postcode = cleaned_data.groupby("postcode").size()
postcode = postcode[postcode > 20].index
cleaned_data = cleaned_data[cleaned_data["postcode"].isin(postcode)]
cleaned_data = cleaned_data[cleaned_data["flooring"] <10000]
cleaned_data = cleaned_data[cleaned_data["flooring"] > 200]
cleaned_data = cleaned_data[cleaned_data["lot"] < 100000]
cleaned_data = cleaned_data[cleaned_data["price"] < 8000000]
cleaned_data = cleaned_data[cleaned_data["price"] > 20000]